@import "./reset.scss";
@import "./fonts.scss";
@import "./animations.scss";
@import "./forms.scss";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
}

.expand {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  transition: .3s ease all;
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 10px #ffffff;
    transform: translateY(-3px);
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: fade-out($color: white, $amount: .9);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: fade-out($color: white, $amount: .1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: fade-out($color: white, $amount: 0);
}