@import "./reset.scss";
@import "./fonts.scss";
@import "./animations.scss";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: red;
  color: #FFFFFF;
}

.expand {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  transition: .3s ease all;
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 10px #ffffff;
    transform: translateY(-3px);
  }
}
