:root {
  // changed via javascript
  --js-color-background: #FF5D5D;
  --js-color-text: #FFFCEA;
  --js-color-text-inv: #2D232E;
  
  --color-primary: #FF5D5D;
  --color-text: #FFFCEA;
  --color-text-inv: #2D232E;
  --color-input-idle: rgba(255, 255, 255, 0.1);
  --color-input-base: rgba(255, 255, 255, 0.2);
  --color-input-hover: rgba(255, 255, 255, 0.5);
  --color-input-active: rgba(255, 255, 255, 0.6);

  --font-family-base: 'Work Sans', sans-serif;
  --font-family-mono: 'Ubuntu Mono', monospace;
  --font-family-display: 'Anton', sans-serif;

  --font-size-base: 1rem;
  --font-size-xs: 0.6rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem;  /* 8px */
  --spacing-md: 1rem;    /* 16px */
  --spacing-lg: 1.5rem;  /* 24px */
  --spacing-xl: 2rem;    /* 32px */
  
  --radius-sm: 0.25rem;  /* 4px */
  --radius-md: 0.5rem;   /* 8px */
  --radius-lg: 1rem;     /* 16px */
  
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);

  --transition-very-fast: 0.05s;
  --transition-fast: 0.1s;
  --transition-medium: 0.2s;
  --transition-slow: 0.3s;
  --transition-very-slow: 0.5s;

  --height-titlebar: 30px;
  --height-input: 2rem;
  --height-scrollbar: 3px;
}