
$font-primary: 'Montserrat';
$font-secondary: 'Open Sans';
$color-white: #FEFEFE;
$color-black: #121212;

.font-primary {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 400;
}

.font-secondary {
  font-family: $font-secondary;
  font-size: 1.3rem;
  font-weight: 400;
}